{% extends "base.html" %}

{% block content %}
<div class="wrapper--home card-container grid-container">

  <!-- Clients -->
  <div class="card-wrapper grid-50 tablet-grid-50 mobile-grid-100">
    <div class="card-clients mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Clients</h2>
      </div><!-- .mdl-card__title -->

      <div class="mdl-card__supporting-text">
        See client sales data over the years grouped by district and presented on a choropleth map of Florida.
      </div><!--.mdl-card__supporting-text -->

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="{{host_url}}/clients"><i class="material-icons">send</i>View</a>
      </div><!-- .mdl-card__actions -->
    </div><!-- .card-clients -->
  </div><!-- .card-wrapper -->
  <!-- End Clients -->

  <!-- Opportunities -->
  <div class="card-wrapper grid-50 tablet-grid-50 mobile-grid-100">
    <div class="card-opportunities mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Opportunities</h2>
      </div><!-- .mdl-card__title -->

      <div class="mdl-card__supporting-text">
        Look at or update a timeline of projects being pursued and when different phases of those projects occur.
      </div><!--.mdl-card__supporting-text -->

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="{{host_url}}/opportunities"><i class="material-icons">send</i>View</a>

        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="EPLA_OPPORTUNITIES_SPREADSHEET_URL" target="_blank"><i class="material-icons">edit</i>Update E/P/LA</a>

        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="TRANSPORTATION_OPPORTUNITIES_SPREADSHEET_URL" target="_blank"><i class="material-icons">edit</i>Update Transportation</a>
      </div><!-- .mdl-card__actions -->
    </div><!-- .card-opportunities -->
  </div><!-- .card-wrapper -->
  <!-- End Opportunities -->

  <!-- Project Initiation Package -->
  <div class="card-wrapper grid-50 tablet-grid-50 mobile-grid-100">
    <div class="card-pip mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Project Initiation Package</h2>
      </div><!-- .mdl-card__title -->

      <div class="mdl-card__supporting-text">
        Use the links below to submit a PIF or Supplemental form. See the <a class="underline" href="PIP_INSTRUCTIONS_URL" target="_blank">instructions</a> if you need help.
      </div><!--.mdl-card__supporting-text -->

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="PIF_FORM_URL" target="_blank"><i class="material-icons">send</i>PIF</a>

        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="SUPPLEMENTAL_FORM_URL" target="_blank"><i class="material-icons">send</i>Supplemental</a>
      </div><!-- .mdl-card__actions -->
    </div><!-- .card-pip -->
  </div><!-- .card-wrapper -->
  <!-- End Project Initiation Package -->

  <!-- Sales Goals -->
  <div class="card-wrapper grid-50 tablet-grid-50 mobile-grid-100">
    <div class="card-sales-goals mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Sales Goals</h2>
      </div><!-- .mdl-card__title -->

      <div class="mdl-card__supporting-text">
        Check out or update sales goals by location. Inspired by the United Way goal thermometer!
      </div><!--.mdl-card__supporting-text -->

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="{{host_url}}/sales-goals"><i class="material-icons">send</i>View</a>

        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="2015_SALES_GOALS_SPREADSHEET_URL" target="_blank"><i class="material-icons">edit</i>Update 2015</a>

        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="2016_SALES_GOALS_SPREADSHEET_URL" target="_blank"><i class="material-icons">edit</i>Update 2016</a>
      </div><!-- .mdl-card__actions -->
    </div><!-- .card-pip -->
  </div><!-- .card-wrapper -->
  <!-- End Sales Goals -->

</div><!-- .card-container.grid-container -->
{% endblock %}
