@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?5w4ewp');
  src:url('../fonts/icomoon.eot?#iefix5w4ewp') format('embedded-opentype'),
  url('../fonts/icomoon.woff?5w4ewp') format('woff'),
  url('../fonts/icomoon.ttf?5w4ewp') format('truetype'),
  url('../fonts/icomoon.svg?5w4ewp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-arrow-left:before {
  content: "\e601";
}

.icon-edit:before {
  content: "\e602";
}

.icon-arrow-down:before {
  content: "\e603";
}

.icon-arrow-up:before {
  content: "\e604";
}

.icon-sales:before {
  content: "\e605";
}

.icon-eforms:before {
  content: "\e92d";
}

.icon-opportunities:before {
  content: "\e953";
}

.icon-view:before {
  content: "\e986";
}

.icon-drive:before {
  content: "\ea8b";
}

.icon-chrome:before {
  content: "\eae5";
}

.icon {
  font-size: 5em;
}

html {
  box-sizing: border-box;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#wrapper,
section {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.5;
}

.grid-33 {
  text-align: center;
}

#wrapper {
  margin-bottom: 1.5em;
}

.container-960 {
  max-width: 960px;
}

#home-section {
  color: white;
}

header {
  text-align: center;
  height: auto;
  position: relative;
}

#logo {
  padding: 10px 0;
  max-height: 200px;
  width: auto;
}

.sign-out a {
  color: #abafa6;
}

.downloads {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1rem;
}

.downloads a:not(:last-child) {
  padding-right: 1rem;
}

header .icon {
  color: #abafa6;
  font-size: 2rem;
  vertical-align: middle;
}

header .icon:hover,
.sign-out a:hover {
  opacity: 0.65;
}

.sign-out a:hover {
  text-decoration: underline;
}

.button {
  background: #00833E;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #abafa6;
  box-shadow: 2px 2px 10px gray;
}

.button:hover {
  opacity: .65;
}

.title {
  cursor: pointer;
  position: relative;
}

.center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#eforms {
  background-color: #abafa6;
}

#opportunities {
  background-color: #00833E;
}

#sales {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.front {
  position: relative;
}


.front img {
  max-width: 100%;
  width: 100%;
  float: left;
}

.color {
  display: none;
}

.grid-parent:hover .color {
  display: block;
}

.grid-parent:hover .bw {
  display: none;
}

.picture {
  position: relative;
}

.back {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.links a {
  font-size: 1.25em;
  line-height: 1.75;
}

.links a:hover {
  text-decoration: underline;
}

.icon-view,
.icon-edit {
  padding-right: 5px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.front {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100%;
  -webkit-transition:-webkit-transform .3s ease;
  transition: transform .3s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#opportunities-chart,
#sales-goals-chart {
  font-weight: 400;
}

#opportunities-chart .tooltip,
#sales-goals-chart .tooltip {
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  pointer-events: none;
  box-shadow: 2px 2px 8px #666;
  font-size: 1.25rem;
}

#opportunities-chart .tooltip h3,
#sales-goals-chart .tooltip h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

#opportunities-chart .tooltip strong,
#sales-goals-chart .tooltip strong {
  font-weight: 700;
}

#opportunities-chart .x.axis .domain {
  display: none;
}

#opportunities-filter {
  text-align: center;
  font-weight: 400;
  padding: 1.5rem 0 1.5rem;
}

#opportunities-filter .opportunities-checkbox {
  border: 2px solid transparent;
  border-radius: 0.25em;
  display: inline-block;
  padding: 0 0.25em;
  position: relative;
  transition: all 0.3s;
}

#opportunities-filter .opportunities-checkbox:not(:last-of-type) {
  margin-bottom: 0.25em;
  margin-right: 0.25em;
}

#opportunities-filter .opportunities-checkbox.checked:after {
  background-repeat: repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#opportunities-filter .opportunities-checkbox-civil.checked:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==");
  background-size: 5px 5px;
}

#opportunities-filter .opportunities-checkbox-creative.checked:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxMCcgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg==");
  background-size: 10px 10px;
}

#opportunities-filter .opportunities-checkbox-epla.checked:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMTAnIGhlaWdodD0nMScgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg==");
  background-size: 5px 5px;
}

#opportunities-filter .opportunities-checkbox-survey-sue.checked:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==");
  background-size: 10px 10px;
  opacity: 0.4;
}

#opportunities-filter .opportunities-checkbox-transportation.checked:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==");
  background-size: 10px 10px;
}

#opportunities-legend {
  text-align: center;
  font-weight: 400;
  padding: 1.5rem 0 1.5rem;
}

#opportunities-legend .legend-item {
  border: 2px solid transparent;
  border-radius: 0.25em;
  display: inline-block;
  padding: 0 0.25em;
  transition: all 0.3s;
}

#opportunities-legend .legend-item:not(:last-of-type) {
  margin-bottom: 0.25em;
  margin-right: 0.25em;
}

#opportunities-legend .legend-item.checked {
  transition: all 0.3s;
}

#opportunities-legend .legend-item-fll.checked {
  background-color: #F4F4A6;
  border-color: #EDED6A;
}

#opportunities-legend .legend-item-jax.checked {
  background-color: #66BBEF;
  border-color: #008EE5;
}

#opportunities-legend .legend-item-orl.checked {
  background-color: #BEA9F5;
  border-color: #936FEE;
}

#opportunities-legend .legend-item-tal.checked {
  background-color: #FFC886;
  border-color: #FFA435;
}

#opportunities-legend .legend-item-tpa.checked {
  background-color: #FD99A0;
  border-color: #FC5561;
}

#opportunities-legend .legend-item-wpb.checked {
  background-color: #66D09B;
  border-color: #00B058;
}

#opportunities-legend .legend-item-protested.checked {
  background-color: #D6D6D6;
  border-color: #BBBBBB;
}

#sales-goals-chart {
  padding: 1.5rem 0 0.5rem;
}

.bullet {
  font-size: 0.75rem;
}

.bullet .marker {
  stroke: #000;
  stroke-width: 4px;
}

.bullet .tick line {
  stroke: #666;
  stroke-width: .5px;
}

.bullet .range.s0 {
  fill: #aaa;
}

.bullet .range.s1 {
  fill: #bbb;
}

.bullet .range.s2 {
  fill: #ccc;
}

.bullet .range.s3 {
  fill: #ddd;
}

.bullet .range.s4 {
  fill: #eee;
}

.bullet .title {
  font-weight: 700;
  font-size: 1.125rem;
  cursor: initial;
}

.bullet .subtitle {
  fill: #222;
  font-size: 1rem;
}

.bullet .measure.s0 {
  stroke-width: 2px;
}

.bullet.twenty-fifteen .measure.s0 {
  fill: #444444;
  stroke: #000000;
}

.bullet.twenty-fifteen .measure.s0:hover {
  fill: #000000;
}

.bullet.fort-lauderdale .measure.s0 {
  fill: #F4F4A6;
  stroke: #EDED6A;
}

.bullet.fort-lauderdale .measure.s0:hover {
  fill: #EDED6A;
}

.bullet.jacksonville .measure.s0 {
  fill: #66BBEF;
  stroke: #008EE5;
}

.bullet.jacksonville .measure.s0:hover {
  fill: #008EE5;
}

.bullet.orlando .measure.s0 {
  fill: #BEA9F5;
  stroke: #936FEE;
}

.bullet.orlando .measure.s0:hover {
  fill: #936FEE;
}

.bullet.tallahassee .measure.s0 {
  fill: #FFC886;
  stroke: #FFA435;
}

.bullet.tallahassee .measure.s0:hover {
  fill: #FFA435;
}

.bullet.tampa .measure.s0 {
  fill: #FD99A0;
  stroke: #FC5561;
}

.bullet.tampa .measure.s0:hover {
  fill: #FC5561;
}

.bullet.west-palm-beach .measure.s0 {
  fill: #66D09B;
  stroke: #00B058;
}

.bullet.west-palm-beach .measure.s0:hover {
  fill: #00B058;
}

.wrapper-clients {
  margin: 0 auto 3em;
  max-width: 960px;
  padding: 1em;
}

.wrapper-clients .title {
  font-size: 34px;
  line-height: 40px;
  margin: 0.5em 0 0;
}

.footnote {
  font-size: 1rem;
  margin: 0.75em 0 1.5em;
}

.toggle,
.range {
  text-align: center;
}

.toggle {
  float: left;
  margin-bottom: 3em;
}

.toggle span {
  display: inline-block;
  font-size: 1.125rem;
  height: 24px;
  vertical-align: -15%;
}


.toggle .mdl-switch {
  margin-left: 16px;
  padding-left: 88px;
  width: auto;
}

.toggle .mdl-switch__track {
  background: rgba(8, 156, 81, 0.5);
  height: 16px;
  width: 72px;
}

.toggle .mdl-switch__thumb {
  background: rgb(8, 156, 81);
  top: 3px;
}

.toggle .mdl-switch.is-checked .mdl-switch__track {
  background: rgba(8, 156, 81, 0.5);
}

.toggle .mdl-switch.is-checked .mdl-switch__thumb {
  background: rgb(8, 156, 81);
  left: 52px;
}

.range {
  float: right;
  max-width: 320px;
  width: 100%;
}

.range_slider-container {
  display: flex;
}

.range_left,
.range_right {
  font-size: 1.125rem;
  line-height: 1;
  margin-top: 5px;
}

#range_slider {
  background: #eee;
  border-radius: 14px;
  flex: 1 0 auto;
  margin: 5px 16px 0;
  padding: 0 10px;
}

#range_slider.noUi-target {
  border: 0;
  box-shadow: none;
  height: 16px;
}

#range_slider .noUi-handle {
  background: rgb(8, 156, 81);
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  top: -2px;
  width: 20px;
}

#range_slider .noUi-handle:before,
#range_slider .noUi-handle:after {
  content: none;
}

#range_slider .noUi-handle-lower {
  left: -10px;
}

#range_slider .noUi-handle-upper {
  left: initial;
  right: 10px;
}

#range_slider .noUi-connect {
  background: rgba(8, 156, 81, 0.375);
  border-radius: 14px;
  box-shadow: none;
}

#range_slider .noUi-background {
  background: #eee;
  border-radius: 14px;
  box-shadow: none;
}

#client-map {
  padding-bottom: 84%;
  position: relative;
  width: 100%;
}

#district-map {
  position: absolute;
  top: 0;
  left: 0;
}

.district:hover {
  cursor: help;
}

.district_outline {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
  transition: 1.5s;
}

.district_text {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.5px;
}

.district_connector {
  stroke: #000;
  stroke-width: 1px;
}

#client-map .q1 {
  fill: rgb(245, 255, 245);
}

#client-map .q2 {
  fill: rgb(222, 247, 235);
}

#client-map .q3 {
  fill: rgb(198, 239, 219);
}

#client-map .q4 {
  fill: rgb(178, 239, 219);
}

#client-map .q5 {
  fill: rgb(158, 225, 202);
}

#client-map .q6 {
  fill: rgb(130, 220, 200);
}

#client-map .q7 {
  fill: rgb(107, 214, 174);
}

#client-map .q8 {
  fill: rgb(90, 210, 170);
}

#client-map .q9 {
  fill: rgb(66, 198, 146);
}

#client-map .q10 {
  fill: rgb(33, 181, 113);
}

#client-map .q11 {
  fill: rgb(8, 156, 81);
}

#client-map .q12 {
  fill: rgb(8, 131, 75);
}

#client-map .q13 {
  fill: rgb(8, 107, 48);
}

#client-map .q14 {
  fill: rgb(8, 75, 48);
}

#client-map_tooltip {
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  padding: 0 1.5em;
  position: fixed;
}

#client-map_tooltip h5 {
  font-weight: 600;
}

#client-map_tooltip p {
  font-size: 1rem;
}

.client-list_clients {
  font-size: 1.25rem;
  margin-bottom: 100%;
}

#client-list .accordion_header {
  cursor: pointer;
}

#client-list .accordion_header:hover {
  opacity: 0.5;
}

#client-list .accordion_header.active .material-icons {
  transform: rotate(90deg);
  transition: 0.25s ease-in-out;
}

#client-list .accordion_content {
  display: none;
}

#client-list .material-icons {
  font-size: inherit;
  line-height: inherit;
  transition: 0.25s ease-in-out;
  width: 24px;
  vertical-align: -15%;
}

.client-list_title {
  display: flex;
  margin: 1em 0;
}

.client-list_item {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.client-list_name {
  float: left;
}

.client-list_colon {
  display: none;
}

.client-list_flex {
  border-bottom: 1px dotted #ccc;
  flex: 1 0 auto;
  margin: 0 0.25em;
}

.client-list_jtd {
  float: right;
}

.client-list_projects .client-list_item {
  font-size: 1rem;
  margin-top: 0;
  padding-left: 24px;
}

.client-list_projects .material-icons {
  vertical-align: -10%;
}

@media (min-width: 768px) {
  .icon-arrow-down {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 2rem;
  }

  .icon-arrow-up {
    position: absolute;
    width: 100%;
    top: 0px;
    font-size: 2rem;
  }

  .slider.closed .slide-up {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  .slider.closed .slide-down {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 1em 1em;
  }

  .downloads {
    position: static;
    display: block;
  }

  .title {
    height: 250px;
  }
}

@media print {
  header {
    display: none;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 3rem;
  }

  .icon-arrow-right {
    position: absolute;
    top: 45%;
    right: 0px;
    font-size: 1.75rem;
  }

  .icon-arrow-left {
    position: absolute;
    top: 45%;
    left: 0px;
    font-size: 1.75rem;
  }

  .links a {
    font-size: 1em;
    line-height: 1.5;
  }

  .slider.closed .slide-left {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  .slider.closed .slide-right {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  #opportunities-filter,
  #opportunities-legend {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #opportunities-filter .opportunities-checkbox,
  #opportunities-legend .legend-item {
    display: block;
  }

  .wrapper-clients .title {
    height: auto;
  }

  .toggle,
  .range {
    float: none;
    width: 100%;
  }

  .range {
    margin-bottom: 3em;
    max-width: none;
  }

  .client-list_title,
  .client-list_item {
    display: block;
  }

  .client-list_name,
  .client-list_colon,
  .client-list_jtd {
    display: inline;
    float: none;
  }

  .client-list_flex {
    display: none;
  }

  .client-list_jtd {
    font-style: italic;
  }
}
