/* ==========================================================================
   Unsemantic Grid System
   ========================================================================== */

/* Import other grid partials */
@import "partials/unsemantic-grid-responsive-tablet";

/* Grid container with no max-width */
.grid-container--full {
  @extend .grid-container;

  max-width: 100%;
}

/* On small devices, remove padding from grid elements that are 100% width */
.mobile-grid-100 {
  @include breakpoint($mq_small) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Center align elements in grid-33 */
.grid-33 {
  text-align: center;
}
