{% extends "base.html" %}

  {% block title %}

    <title>Home | wgi.buzz</title>

  {% endblock %}


  {% block content %}

    <section id="home-section" class="grid-container">
      <div class="grid-parent grid-33 tablet-grid-33 mobile-grid-100" id="eforms">
        <div class="title grid-100 tablet-grid-100 mobile-grid-50">
          <div class="center">
            <h2>E-Forms</h2>
            <div class="icon icon-eforms"></div>
          </div>
          <div class="icon icon-arrow-down hide-on-mobile"></div>
          <div class="icon icon-arrow-right hide-on-desktop hide-on-tablet"></div>
        </div>
        <div class="picture grid-100 tablet-grid-100 mobile-grid-50">
          <div class="slider">
            <div class="front slide-up slide-left">
            <div class="bw">
                <img src="img/eforms_bw_2015-03-30.jpg">
              </div>
              <div class="color">
                <img src="img/eforms_2015-02-17.jpg">
              </div>
            </div>
            <div class="back">
              <div class="links center">
                <span class="icon-edit"></span><a href="https://sites.google.com/a/wgi.buzz/project-initiation-package/submit-pif" target="_blank">Project Initiation Form</a>
                <br>
                <span class="icon-edit"></span><a href="https://sites.google.com/a/wgi.buzz/project-initiation-package/submit-supplemental" target="_blank">Supplemental Form</a>
                <br>
                <span class="icon-view"></span><a href="https://docs.google.com/a/wgi.buzz/presentation/d/1_-OUq0yHtnadPoQ_yyerkL38yJIz2QtXuUYSY2HdogA/edit#slide=id.p" target="_blank">PIF Instructions</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="grid-parent grid-33 tablet-grid-33 mobile-grid-100" id="opportunities">
        <div class="picture grid-100 tablet-grid-100 mobile-grid-50">
          <div class="slider">
            <div class="front slide-down slide-right">
              <div class="bw">
                <img src="img/opportunities_bw_2015-03-30.jpg">
              </div>
              <div class="color">
                <img src="img/opportunities_2015-02-17.jpg">
              </div>
            </div>
            <div class="back">
              <div class="links center">
                <span class="icon-edit"></span><a href="https://docs.google.com/a/wgi.buzz/spreadsheets/d/1--xnM_q-QZ9fYBj7er0j-khu_QBskbWVX9dvLOwbji8/edit#gid=0" target="_blank">Update Spreadsheet</a>
                <br>
                <span class="icon-view"></span><a href="//wgi.buzz/opportunities" target="_blank">View Workload</a>
              </div>
            </div>
          </div>
        </div>
        <div class="title grid-100 tablet-grid-100 mobile-grid-50">
          <div class="center">
            <h2>Opportunities</h2>
            <div class="icon icon-opportunities"></div>
          </div>
          <div class="icon icon-arrow-up hide-on-mobile"></div>
          <div class="icon icon-arrow-left hide-on-desktop hide-on-tablet"></div>
        </div>
      </div>
      <div class="grid-parent grid-33 tablet-grid-33 mobile-grid-100" id="sales">
        <div class="title grid-100 tablet-grid-100 mobile-grid-50">
          <div class="center">
            <h2>Sales</h2>
            <div class="icon icon-sales"></div>
          </div>
          <div class="icon icon-arrow-down hide-on-mobile"></div>
          <div class="icon icon-arrow-right hide-on-tablet hide-on-desktop"></div>
        </div>
        <div class="picture grid-100 tablet-grid-100 mobile-grid-50">
          <div class="slider">
            <div class="front slide-up slide-left">
            <div class="bw">
                <img src="img/sales_bw_2015-03-30.jpg">
              </div>
              <div class="color">
                <img src="img/sales_2015-02-17.jpg">
              </div>
            </div>
            <div class="back">
              <div class="links center">
                <div class="sales-2015">
                  <h3>2015</h3>
                  <p>
                    <span class="icon-view"></span><a href="http://wgi.buzz/transportation/sales-goals/2015" target="_blank">View Sales Goals</a>
                  </p>
                  <p>
                    <span class="icon-edit"></span><a href="https://docs.google.com/a/wgi.buzz/spreadsheets/d/15eCdm0k0e_X8dSA414bCGLXkAb98Fy2RabwXj3toWms/edit?usp=drive_web" target="_blank">Update Sales</a>
                  </p>
                </div>
                <br>
                <div class="sales-2015">
                  <h3>2016</h3>
                  <p>
                    <span class="icon-view"></span><a href="http://wgi.buzz/transportation/sales-goals/2016" target="_blank">View Sales Goals</a>
                  </p>
                  <p>
                    <span class="icon-edit"></span><a href="https://docs.google.com/spreadsheets/d/16sHzeupzLJAeV5Ak_LwzKBl0R4Go68024wqz1hPFRVo/edit#gid=324793408" target="_blank">Update Sales</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}

  {% block scripts %}

    <script src="/js/scripts.js"></script>

  {% endblock %}
