{% extends "base.html" %}

  {% block title %}

    <title>Opportunities | wgi.buzz</title>

  {% endblock %}

  {% block content %}
    <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <pattern id="diagonal-stripe" patternUnits="userSpaceOnUse" width="10" height="10">
          <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"></image>
        </pattern>
        <pattern id="horizontal-stripe" patternUnits="userSpaceOnUse" width="5" height="5">
          <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMTAnIGhlaWdodD0nMScgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5"></image>
        </pattern>
        <pattern id="vertical-stripe" patternUnits="userSpaceOnUse" width="10" height="10">
          <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxMCcgZmlsbD0nYmxhY2snIC8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10"> </image>
        </pattern>
        <pattern id="crosshatch" patternUnits="userSpaceOnUse" width="10" height="10">
          <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"></image>
        </pattern>
        <pattern id="dot" patternUnits="userSpaceOnUse" width="5" height="5"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMycgaGVpZ2h0PSczJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+Cg==" x="0" y="0" width="5" height="5"> </image> </pattern>
      </defs>
    </svg>

    <section id="opportunities-section">
      <form id="opportunities-filter" class="prefix-5 grid-40 suffix-5 tablet-grid-100 mobile-grid-100">
        <h3>Divisions</h3>
        <div class="opportunities-checkbox opportunities-checkbox-civil checked">
          <label><input type="checkbox" name="opportunities-filter-civil" id="opportunities-filter-civil" value="Civil" checked>Civil</label>
        </div>
        <div class="opportunities-checkbox opportunities-checkbox-creative checked">
          <label><input type="checkbox" name="opportunities-filter-creative" id="opportunities-filter-creative" value="Creative" checked>Creative</label>
        </div>
        <div class="opportunities-checkbox opportunities-checkbox-epla checked">
          <label><input type="checkbox" name="opportunities-filter-epla" id="opportunities-filter-epla" value="E/P/LA" checked>Environmental / Planning / Landscape Architecture</label>
        </div>
        <div class="opportunities-checkbox opportunities-checkbox-survey-sue checked">
          <label><input type="checkbox" name="opportunities-filter-survey-sue" id="opportunities-filter-survey-sue" value="Survey/SUE" checked>Survey / SUE</label>
        </div>
        <div class="opportunities-checkbox opportunities-checkbox-transportation checked">
          <label><input type="checkbox" name="opportunities-filter-transportation" id="opportunities-filter-transportation" value="Transportation" checked>Transportation</label>
        </div>
      </form>

      <form id="opportunities-legend" class="prefix-5 grid-40 suffix-5 tablet-grid-100 mobile-grid-100">
        <h3>Locations</h3>
        <div class="legend-item legend-item-fll checked">
          <label><input type="checkbox" name="opportunities-legend-fll" id="opportunities-legend-fll" value="Fort Lauderdale" checked>Fort Lauderdale</label>
        </div>
        <div class="legend-item legend-item-jax checked">
          <label><input type="checkbox" name="opportunities-legend-jax" id="opportunities-legend-jax" value="Jacksonville" checked>Jacksonville</label>
        </div>
        <div class="legend-item legend-item-orl checked">
          <label><input type="checkbox" name="opportunities-legend-orl" id="opportunities-legend-orl" value="Orlando" checked>Orlando</label>
        </div>
        <div class="legend-item legend-item-tal checked">
          <label><input type="checkbox" name="opportunities-legend-tal" id="opportunities-legend-tal" value="Tallahassee" checked>Tallahassee</label>
        </div>
        <div class="legend-item legend-item-tpa checked">
          <label><input type="checkbox" name="opportunities-legend-tpa" id="opportunities-legend-tpa" value="Tampa" checked>Tampa</label>
        </div>
        <div class="legend-item legend-item-wpb checked">
          <label><input type="checkbox" name="opportunities-legend-wpb" id="opportunities-legend-wpb" value="West Palm Beach" checked>West Palm Beach</label>
        </div>
        <div class="legend-item legend-item-protested checked">
          <label><input type="checkbox" name="opportunities-legend-protested" id="opportunities-legend-protested" value="Protested" checked>Protested</label>
        </div>
      </form>
      <div id="opportunities-chart"></div>
      </div>
    </section>

  {% endblock %}

  {% block scripts %}
    <script src="/js/underscore-min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script>
      var data = d3.csv.parse({{ sheet_data | safe }});
      var keys = [],
          sheetData,
          projectList,
          projectIDs,
          w,
          h,
          m = [24, 24, 144, 160],
          filterDivisions,
          filterLocations,
          projectLength,
          todaysDate = new Date();

      function filterData() {
        sheetData = [];
        projectList = [];

        filterDivisions = _.map($('#opportunities-filter .opportunities-checkbox input:checked'), function(d) {
          return $(d).val();
        });

        filterLocations = _.map($('#opportunities-legend .legend-item input:checked'), function(d) {
          return $(d).val();
        });

        var projCount = 0;

        _.each(data, function(d) {
          var phase1 = {},
              phase1Flag = false,
              phase2 = {},
              phase2Flag = false,
              phase3 = {},
              phase3Flag = false;

          for (var key in d) {
            if (['PROJECT NAME', 'LOCATION', 'DIVISION', 'AD DATE', 'ELOI DUE', 'ELOI SCORE', 'TECH/PACKET DUE', 'PRICE/PRESENTATION DUE'].indexOf(key) === -1) {
              phase1[key] = d[key];
              phase2[key] = d[key];
              phase3[key] = d[key];
            }
            else if (key === 'LOCATION') {
              if (d['STATUS'] === 'Protested') {
                phase1['COLORS'] = ['#BBBBBB', '#D6D6D6'];
                phase2['COLORS'] = ['#BBBBBB', '#D6D6D6'];
                phase3['COLORS'] = ['#BBBBBB', '#D6D6D6'];
              }
              else {
                var locationColors = {
                  "fort lauderdale": ['#EDED6A', '#F4F4A6'],
                  jacksonville: ['#008EE5', '#66BBEF'],
                  orlando: ['#936FEE', '#BEA9F5'],
                  tallahassee: ['#FFA435', '#FFC886'],
                  tampa: ['#FC5561', '#FD99A0'],
                  "west palm beach": ['#00B058', '#66D09B']
                };
                phase1['COLORS'] = locationColors[d[key].toLowerCase()];
                phase2['COLORS'] = locationColors[d[key].toLowerCase()];
                phase3['COLORS'] = locationColors[d[key].toLowerCase()];
              }

              phase1[key] = d[key];
              phase2[key] = d[key];
              phase3[key] = d[key];
            }
            else if (key === 'DIVISION') {
              var divisionTextures = {
                civil: "url(#dot)",
                creative: "url(#vertical-stripe)",
                "e/p/la": "url(#horizontal-stripe)",
                "survey/sue": "url(#crosshatch)",
                transportation: "url(#diagonal-stripe)"
              }
              phase1['TEXTURE'] = divisionTextures[d[key].toLowerCase()];
              phase2['TEXTURE'] = divisionTextures[d[key].toLowerCase()];
              phase3['TEXTURE'] = divisionTextures[d[key].toLowerCase()];

              phase1[key] = d[key];
              phase2[key] = d[key];
              phase3[key] = d[key];
            }
          }

          if (d['AD DATE'] && d['ELOI DUE'] && (filterDivisions.indexOf(d['DIVISION']) !== -1) && (filterLocations.indexOf(d['LOCATION']) !== -1)) {
            phase1['id'] = projCount;
            phase1['START DATE'] = d['AD DATE'];
            phase1['END DATE'] = d['ELOI DUE'];
            phase1['PHASE NAME'] = 'Letter';
            phase1['PROJECT NAME'] = d['PROJECT NAME'];
            phase1['TOOLTIP'] = buildTooltip(phase1);
            sheetData.push(phase1);
            phase1Flag = true;
          }
          if (d['ELOI SCORE'] && d['TECH/PACKET DUE'] && (filterDivisions.indexOf(d['DIVISION']) !== -1) && (filterLocations.indexOf(d['LOCATION']) !== -1)) {
            phase2['id'] = projCount;
            phase2['START DATE'] = d['ELOI SCORE'];
            phase2['END DATE'] = d['TECH/PACKET DUE'];
            phase2['PHASE NAME'] = 'Tech';
            phase2['PROJECT NAME'] = d['PROJECT NAME'];
            phase2['TOOLTIP'] = buildTooltip(phase2);
            sheetData.push(phase2);
            phase2Flag = true;
          }
          if (d['TECH/PACKET DUE'] && d['PRICE/PRESENTATION DUE'] && (filterDivisions.indexOf(d['DIVISION']) !== -1) && filterLocations.indexOf(d['LOCATION']) !== -1) {
            phase3['id'] = projCount;
            phase3['START DATE'] = d['TECH/PACKET DUE'];
            phase3['END DATE'] = d['PRICE/PRESENTATION DUE'];
            phase3['PHASE NAME'] = 'Price';
            phase3['PROJECT NAME'] = d['PROJECT NAME'];
            phase3['TOOLTIP'] = buildTooltip(phase3);
            sheetData.push(phase3);
            phase3Flag = true;
          }

          if (phase1Flag || phase2Flag || phase3Flag) {
            projCount++;
            projectList.push(d['PROJECT NAME']);
          }
        });

//        _.each(sheetData, function(d) {
//          d['PROJECT NAME'] = projectList.indexOf(d["PROJECT NAME"]);
//        });

        projectLength = projectList.length;
      };

      function buildTooltip(phaseObj) {
        var tooltipLabels = ['NUMBER',
                             'LOCATION',
                             'DIVISION',
                             'PM',
                             'CLIENT',
                             'MARKETING COORD',
                             'WGI FEES',
                             'MOU COMPLETE',
                             'STIPEND AMOUNT',
                             'STATUS',
                             'START DATE',
                             'END DATE'
                            ]

        var tooltipHTML = '<h3>' + phaseObj['PHASE NAME'] + '</h3>';
        for (var i = 0; i < tooltipLabels.length; i++) {
          var labelVal = tooltipLabels[i];
          if (phaseObj.hasOwnProperty(labelVal)) {
            if (phaseObj[labelVal]) {
              tooltipHTML += '<strong>' + labelVal + ':</strong> ' + phaseObj[labelVal] + '<br>';
            }
          }
        }

        return tooltipHTML;
      }

      function sizeSVG() {
        var chart = $('#opportunities-chart');
        $(window).width() > 768 ? w = chart.width() - m[1] - m[3] : w = 767 - m[1] - m[3];
        h = (projectLength * 50);
      }

      function drawSVG() {
        $('#opportunities-chart svg, #opportunities-chart .tooltip').remove();

        var viz = d3.select('#opportunities-chart')
                      .append('svg')
                        .attr('id', 'container')
                        .attr('width', w + m[1] + m[3])
                        .attr('height', h + m[0] + m[2]);

        var xScale = d3.time.scale()
                              .domain([
                                d3.min(sheetData, function(d) {
                                  return Math.min(createDate(d['START DATE']), createDate(d['END DATE']), todaysDate);
                                }),
                                d3.max(sheetData, function(d) {
                                  return Math.max(createDate(d['START DATE']), createDate(d['END DATE']), todaysDate);
                                })
                              ])
                              .range([0, w]);

        var xAxis = d3.svg.axis()
                         .scale(xScale)
                         .orient("bottom")
                         .tickFormat(d3.time.format("%b %Y"));

        var yScale = d3.scale.linear()
                                .domain([0, projectLength])
                                .range([0, h]);

        var hScale = d3.scale.linear()
                                .domain([
                                  d3.min(sheetData, function(d) {
                                    return createNumber(d['WGI FEES']);
                                  }),
                                  d3.max(sheetData, function(d) {
                                    return createNumber(d['WGI FEES']);
                                  })
                                ])
                                .range([16, 40]);

        var vizGroup = viz.append('g')
                            .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

        var vizLines = vizGroup.append('g');
        vizLines.selectAll('line')
          .data(sheetData)
          .enter().append('line')
          .attr('x1', 0)
          .attr('y1', function(d, i) {return yScale(d['id'])})
          .attr('x2', w)
          .attr('y2', function(d, i) {return yScale(d['id'])})
          .attr('stroke', '#eee')
          .attr('stroke-width', 1);

        vizLines.append('line')
                    .attr('x1', 0)
                    .attr('y1', h)
                    .attr('x2', w)
                    .attr('y2', h)
                    .attr('stroke', '#eee')
                    .attr('stroke-width', 1);

        vizLines.append('line')
                    .attr('x1', 0)
                    .attr('y1', 0)
                    .attr('x2', 0)
                    .attr('y2', h)
                    .attr('stroke', '#eee')
                    .attr('stroke-width', 1);

        vizLines.append('line')
                    .attr('x1', w)
                    .attr('y1', 0)
                    .attr('x2', w)
                    .attr('y2', h)
                    .attr('stroke', '#eee')
                    .attr('stroke-width', 1);

        var vizToday = vizGroup.append('g');
        vizToday.append('line')
                    .attr('x1', xScale(todaysDate))
                    .attr('y1', 0)
                    .attr('x2', xScale(todaysDate))
                    .attr('y2', h)
                    .attr('stroke', '#00DF00')
                    .attr('stroke-width', 2);
        vizToday.append('text')
                    .text('TODAY')
                    .attr('fill', '#00DF00')
                    .attr('text-anchor', 'middle')
                    .attr('transform', 'translate(' + (xScale(todaysDate)) + ', -4)')
                    .style('font-weight', 700)
                    .style('font-size', '1.5rem');

        var vizAxes = vizGroup.append('g');
        vizAxes.append('g')
              .attr('class', 'x axis')
              .attr('transform', 'translate(0,' + h + ')')
              .call(xAxis);

        vizAxes.append('g')
          .attr('class', 'y axis')
          .attr('transform', 'translate(' + -8 + ', 0)').selectAll('text')
          .data(projectList)
          .enter().append('text')
          .text(function(d) {return d.substring(0, 16)})
          .attr('x', 0)
          .attr('y', function(d, i) {return yScale(i+0.5)})
          .attr('dy', '0.5ex')
          .attr("text-anchor", "end")
          .attr('fill', '#222')
          .attr('font-weight', '700');

        var vizPhases = vizGroup.append('g').selectAll('g')
          .data(sheetData)
          .enter().append('g')
          .attr('transform', function(d) {return 'translate(' + xScale(createDate(d["START DATE"])) + ', ' +  yScale(d['id']) + ')'})
          .attr('class', 'phase');

        vizPhases.append('rect')
          .attr('height', function(d) {return hScale(createNumber(d['WGI FEES']))})
          .attr('fill', function(d) {return d['COLORS'][1]})
          .attr('stroke', function(d) {return d['COLORS'][0]})
          .attr('stroke-width', 2)
          .attr('transform', function(d) {return 'translate(0, ' + (((h / projectLength) - hScale(createNumber(d['WGI FEES']))) / 2) + ')'})
          .attr('width', 0)
          .transition().duration(2500)
          .attr('width', function(d) {return xScale(createDate(d["END DATE"])) - xScale(createDate(d["START DATE"]))});

        vizPhases.append('rect')
          .attr('height', function(d) {return hScale(createNumber(d['WGI FEES']))})
          .attr('fill', function(d) {return d['TEXTURE']})
          .attr('fill-opacity', 0.2)
          .attr('transform', function(d) {return 'translate(0, ' + (((h / projectLength) - hScale(createNumber(d['WGI FEES']))) / 2) + ')'})
          .attr('width', 0)
          .transition().duration(2500)
          .attr('width', function(d) {return xScale(createDate(d["END DATE"])) - xScale(createDate(d["START DATE"]))});

        vizPhases.append('text')
          .text(function(d) {return d['PHASE NAME']})
          .attr('transform', function(d) {return 'translate(4, ' + (h / projectLength / 2) + ')'})
          .attr('dy', '0.5ex')

        var vizTooltip = d3.select('#opportunities-chart').append('div')
                          .attr('class', 'tooltip')
                          .style('opacity', 0);

        vizPhases.on("mouseenter", function(d, i) {
          var phase = d3.select(this);
          phase.select('rect')
                  .attr('fill', d['COLORS'][0]);
          vizTooltip.transition()
                      .duration(500)
                      .style('opacity', 1);
          vizTooltip.html(d['TOOLTIP'])
                      .style('left', function() {
                        var tooltipWidth = $('#opportunities-chart .tooltip').width();
                        if ((d3.event.pageX + tooltipWidth) > w) {
                          return (d3.event.pageX - tooltipWidth) + 'px';
                        }
                        else {
                          return d3.event.pageX + 'px';
                        }
                      })
                      .style('top', function() {
                        var tooltipHeight = $('#opportunities-chart .tooltip').height();
                        if ((d3.event.pageY + tooltipHeight) > h) {
                          return (d3.event.pageY - tooltipHeight) + 'px';
                        }
                        else {
                          return d3.event.pageY + 'px';
                        }
                      });
        });

        vizPhases.on("mouseleave", function(d, i) {
          var phase = d3.select(this);
          phase.select('rect')
                  .attr('fill', d['COLORS'][1]);
          vizTooltip.transition()
                      .duration(500)
                      .style('opacity', 0);
        });
      }

      function createDate(dateString) {
        var format = d3.time.format("%-m/%-d/%Y");
        return format.parse(dateString);
      };

      function createString(date) {
        var format = d3.time.format("%-m/%-d/%Y");
        return format(date)
      };

      function createNumber(currencyString) {
        return parseFloat(currencyString.substring(1).replace(/,/g, ''));
      };

      function redoSVG() {
        sizeSVG();
        drawSVG();
      }

      function runAllTasks() {
        filterData();
        redoSVG();
      }

      runAllTasks();
      $(window).on('resize', function() {
        setTimeout(redoSVG, 250);
      });
      $('#opportunities-filter .opportunities-checkbox input:checked, #opportunities-legend .legend-item input:checked').on('change', function() {
        $(this).parents('.legend-item, .opportunities-checkbox').toggleClass('checked');
        runAllTasks();
      });

    </script>
  {% endblock %}
